In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

%matplotlib inline

In [38]:
#Importing the ratings data 
ratings = pd.read_csv('ratings.dat', sep='::')
ratings.columns = ['User_ID','Movie_ID','Rating','timeStamp']
ratings.head()
ratings.shape

C:\Users\omar\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

(1000208, 4)

In [39]:
#Importing the users data
users = pd.read_csv('users.dat',sep = '::')
users.columns = ['User_ID', 'Gender', 'Age', 'Occupation', 'zipCode']
users.head()
users.shape

C:\Users\omar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(6039, 5)

In [40]:
#Importing the movies data
movies = pd.read_csv('movies.dat', sep='::')
movies.columns = ['Movie_ID','Title','Genres']
movies.head()
movies.shape

C:\Users\omar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(3882, 3)

In [61]:
#Shuffling the data to make sure that there is no any arrangement
#Used for the training, validation and testing
shuffled_ratings = ratings.sample(frac=1)
shuffled_users = shuffled_ratings['User_ID'].values
shuffled_movies = shuffled_ratings['Movie_ID'].values
shuffled_ratings = shuffled_ratings['Rating'].values
print("User:", shuffled_users)
print("Movies:", shuffled_movies)
print("Ratings:", shuffled_ratings)

User: [1207 3270 4454 ... 1552 2486 1520]
Movies: [1975 1036   81 ... 2312 2716  480]
Ratings: [2 4 1 ... 4 3 5]

In [69]:
#Obtaining the number of unique users and movies
n_users = ratings.User_ID.nunique()
n_movies = ratings.Movie_ID.nunique()
print("Number of users is: ", n_users," and the number of movies is: ", n_movies)

Number of users is:  6040  and the number of movies is:  3706

In [72]:
#Now creating the rating matrix (users x items)
rating_mat = ratings.pivot (index = 'User_ID', columns = 'Movie_ID', values = 'Rating')
rating_mat = rating_mat.fillna(0)
rating_

Movie_ID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
User_ID,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [79]:
#Now we normalize in very basic way
R = rating_mat.as_matrix()
user_rating_mean = np.mean(R,axis =1)
user_rating_normal = R - user_rating_mean.reshape(-1,1)
R.shape

(6040, 3706)